<form (ngSubmit)="f.form.valid && addRecord()" #f="ngForm">
  <div class="agregar">
    <div class="agregar_contenedor">
      <select [ngClass]="{ redfocus: operation == 'expense' }" (change)="operationType($event)" class="agregar_tipo">
        <option value="revenue" selected>+</option>
        <option value="expense">-</option>
      </select>
      
      <input [ngClass]="{ redfocus: operation == 'expense' }" type="text" class="agregar_descripcion" placeholder="Agregar Descripción" [(ngModel)]="descriptionInput" name="descriptionInput" required />
      
      <input [ngClass]="{ redfocus: operation == 'expense' }"  type="number" class="agregar_valor" placeholder="Valor" [(ngModel)]="amountInput" name="amountInput" required/>
      
      <button type="submit" class="agregar_btn">
        <i [ngClass]="{ red: operation == 'expense' }"  class="ion-ios-checkmark-outline"></i>
      </button>
    </div>
  </div>
</form>